<div class="book-card-wrapper">
  <h1 mat-dialog-title class="book-title">{{ data.title }}</h1>

  <div mat-dialog-content class="book-info">
    <div><b>Author</b>: {{ data.author }}</div>
    <div><b>Quantity of pages</b>: {{ data.pageCount }}</div>
    <div><b>Language</b>: {{ data.language }}</div>
    <div><b>Genre</b>: {{ data.genre }}</div>
    <div class="book-description">
      <div>
        <b>Description:</b>
      </div>
      <div>{{ data.description }}</div>
    </div>
  </div>

  <div mat-dialog-actions class="back-block">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
  </div>
</div>
