:host {
  display: block;
  width: 100%;
  height: 100%;
}
.author-card-wrapper {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.dialog-title {
  display: block;
  height: 10%;
  font-size: 32px;
  margin: 15px;
}

.book-form-wrapper {
  display: block;
  width: 100%;
  height: 80%;
  padding: 0px 15px;
}

.author-input {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttons-block {
  display: block;
  height: 10%;
  align-self: end;
  justify-self: end;
  margin: 15px;
}
