<div class="books-page-wrapper">
  <div class="books-page">
    <div class="books-filter" [formGroup]="filters">
      <app-input
        *ngIf="this.booksList.length > 0"
        formControlName="books"
        type="text"
        label="Book"
        placeholder="Enter a book"
      ></app-input>
      <app-slider
        *ngIf="this.booksList.length > 1"
        formControlName="pages"
        label="Pages range"
        [min]="minPages"
        [max]="maxPages"
      ></app-slider>
      <app-select
        *ngIf="this.booksList.length > 0"
        formControlName="authors"
        label="Authors"
        [options]="selectAuthorsOpt"
        [multiple]="true"
      >
      </app-select>
      <app-select
        *ngIf="this.booksList.length > 0"
        formControlName="languages"
        label="Languages"
        [options]="selectLanguagesOpt"
        [multiple]="true"
      >
      </app-select>
      <app-select
        *ngIf="selectGenreOpt"
        formControlName="genre"
        label="Genre"
        [options]="selectGenreOpt"
      >
      </app-select>
    </div>
    <div class="books-main">
      <div class="books-header">
        <button
          mat-raised-button
          color="primary"
          class="add-book-button"
          (click)="openAuthors()"
        >
          Author list
        </button>
        <button
          mat-raised-button
          color="primary"
          class="add-book-button"
          (click)="addBook()"
        >
          Add book
        </button>
      </div>

      <app-list-component
        [data]="isFiltered ? filteredList : booksList"
        [columns]="columns"
        class="books-table"
        [paginationSettings]="pagination"
        (openedCard)="openCard($event)"
      ></app-list-component>
    </div>
  </div>
</div>
