<div class="books-page-wrapper">
  <div class="books-page">
    <div class="books-header">
      <app-books-filter></app-books-filter>
      <button
        mat-raised-button
        color="primary"
        class="add-book-button"
        (click)="addBook()"
      >
        Add book
      </button>
    </div>

    <app-list-component
      [dataSource]="booksList"
      [columns]="columns"
      class="books-table"
      (openedBook)="openCard($event)"
    ></app-list-component>
  </div>
</div>
